* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    color: #ffcc00;
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #ffcc00;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1552566626-52f8b828add9?auto=format&fit=crop&w=1600&q=80") 
    no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    background: rgba(0,0,0,0.6);
    padding: 40px;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 45px;
}

.hero-content button {
    margin-top: 20px;
    padding: 12px 25px;
    background: #ffcc00;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.hero-content button:hover {
    background: white;
    color: black;
}

/* MENU */
.menu {
    padding: 80px 40px;
    text-align: center;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    margin-top: 40px;
}

.menu-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.4s;
}

.menu-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.4s;
}

.menu-card:hover img {
    transform: scale(1.1);
}

.menu-card:hover {
    transform: translateY(-10px);
}

.menu-card button {
    margin: 15px;
    padding: 10px 20px;
    border: none;
    background: #ffcc00;
    cursor: pointer;
}

.menu-card button:hover {
    background: black;
    color: white;
}

/* GALLERY */
.gallery {
    padding: 80px 40px;
    background: #111;
    color: white;
    text-align: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 15px;
    margin-top: 30px;
}

.gallery-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.4s;
}

.gallery-container img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

/* CONTACT */
.contact {
    padding: 60px 40px;
    text-align: center;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    .hero-content h1 {
        font-size: 30px;
    }
}